.website-box img{
    width: 200px;
    height: auto;
}

.website-box{
    place-self: center;
}

body{
    background-color: grey;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0px 200px;

}

.website-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5px;
    align-items: center;
    padding-top: 100px;

}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(177, 177, 177);
    padding: 0px 20px;
}

.header-link{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

@media (max-width: 1005px) {
    .website-flex{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
