.website-box{
    display: flex;
    top: 10px;
    left: 10px;
}

body{
    background-color: grey;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0px 200px;

}

.website-flex{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.rocket-image img{
    height: 525px;
    width: auto;
    display: block;
    margin-right: 30px;

}

.rocket-image{
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.iron-man{
    width: 256px;
    height: auto;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(177, 177, 177);
    padding: 0px 20px;
}

.header-link{
    text-decoration: none;
    color: rgb(0, 0, 0);

}